
.nav-btns-container-ta-management {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    border-bottom: 2px solid #b4b4b4;
}

.manage-ta-nav-btn {
    width: 30%;
    font-size: 16px;
    color: #b3b3b3;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bold;
}

.manage-ta-nav-btn.open {
    color: #d65050;
}

#manage-ta-view-container {
    margin-top: 100px;
    width: 80%;
}

.manage-ta-table {
    width: 100%;
    text-align: center;
}

.manage-ta.table-row {
    margin-top: 10px;
}

.manage-ta.table-row.header {
    background-color: #ececec;
}