

.user-management-top-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}


/* adding new user */
.add-new-user-btn {
    width: 15%;
    font-size: 12px;
    margin: 0;
}

.form-select-input {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    outline: none;
}

.form-wrapper.add-new-user-form {
    display: none;
    width: 50%;
    /* height: 60%; */
    border: 1px solid rgb(189, 189, 189);
    padding: 20px;
    margin: auto;
    /* margin-bottom: 150px; */
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
}

/* selecting user type */
#user-type-select {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    outline: none;
}


/* user accounts table */

.all-user-types-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.user-accounts {
    display: none;
    width: 100%;
}

.user-accounts.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-account-type-title {
    width: 90%;
    display: flex;
    flex-direction: row;
    color: #d14a4b;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 2px solid rgb(215 215 215);
}

.user-account-entries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-height: 400px;
    overflow: scroll;
    margin-bottom: 50px;
}

.entry-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #f2f2f2;
    align-items: center;
}

.user-account-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 3px;
    font-size: 14px;
    margin: 15px;
}

.user-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: bolder;
}

.user-email {
    line-height: 20px;
}

.user-roles-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    line-height: 20px;
}

.user-role {
    font-size: 13px;
    color: grey;
    margin-right: 15px;
}


.user-account-actions-container {
    display: flex;
    width: 15%;
    border-radius: 3px;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
}
.remove-user {
    width: 40%;
    font-size: 12px;
    cursor: pointer;
    color: grey;
}
.reactivate-user {
    width: 40%;
    font-size: 12px;
    cursor: pointer;
    color: grey;
}
.reactivate-user:hover {
    color: black;
}
.remove-user:hover {
    color: black;
}
.edit-user {
    width: 40%;
    font-size: 12px;
    cursor: pointer;
    color: grey;
}
.edit-user:hover {
    color: black;
}


/* edit user info */
.form-wrapper.modal {
    height: 80%;
    width: 50%;
    margin: auto;
    overflow: scroll;
}

.form-wrapper.modal.open {
    display: flex;
}


.user-courses-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-height: 200px;
    overflow: scroll;
    border: 1px solid #d6d6d6;
    margin-top: 20px;
    border-radius: 4px;
    background-color: white;
}

.edit-user-course-container {
    width: 40%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 7px 3px #e1e0e0;
}






