
.nav-btns-container-ta-management {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid #e9e9e9;
    align-items: flex-start;
}

.manage-ta-nav-btn {
    width: 25%;
    font-size: 16px;
    color: #b3b3b3;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    margin: 0px;
}

.manage-ta-nav-btn.open {
    color: #d65050;
}

#manage-ta-view-container {
    margin-top: 50px;
    width: 80%;
}

.manage-ta-table {
    width: 100%;
    text-align: center;
}

.manage-ta.table-row {
    margin-top: 10px;
}

.manage-ta.table-row.header {
    background-color: #ececec;
}



/* by-class view */
.display-option-ta-management {
    display: none;
}
.display-option-ta-management.open {
    display: flex;
}

.display-option-ta-management.all-tas-report.open {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.performance-log-all-tas {
    margin-top: 30px;
    width: 100%;
}

.all-tas-report {
    display: none;
    width: 100%;
}

.all-tas-report.open {
    display: block;
}
