.all-user-types-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

#user-type-select {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    outline: none;
}

.manage-users-select-container {
    padding-bottom: 20px;
    padding-left: 45px;
    width: 100%;
    /*border-bottom: 2px solid #b0b0b0;*/
}

.user-accounts {
    display: none;
    width: 100%;
}

.user-accounts.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-account-type-title {
    width: 90%;
    display: flex;
    flex-direction: row;
    color: #d14a4b;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 2px solid rgb(129, 129, 129);
}

.user-account-entries {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-height: 400px;
    overflow: scroll;
    margin-bottom: 50px;
}

.entry-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    margin-top: 15px;
    /* padding: 10px; */
    border-radius: 4px;
    background-color: #f2f2f2;
    align-items: center;
}

.user-account-entry {
    /* background-color: #f3f3f3; */
    /* margin-top: 10px; */
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    width: 85%;
}

.user-account-actions-container {
    display: flex;
    /* height: 100%; */
    width: 10%;
    /* height: 39px; */
    /* background-color: #f3f3f3; */
    border-radius: 3px;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
}
.remove-user {
    width: 40%;
    font-size: 12px;
    cursor: pointer;
    color: grey;
}
.remove-user:hover {
    color: black;
}
.edit-user {
    width: 40%;
    font-size: 12px;
    cursor: pointer;
    color: grey;
}
.edit-user:hover {
    color: black;
}