#user-type-select {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}

.manage-users-container {
    padding-bottom: 20px;
    padding-left: 0px;
    width: 100%;
    border-bottom: 2px solid #b0b0b0;
}

.user-accounts {
    display: none;
}

.user-accounts.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-account-entry {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #f3f3f3;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px;
}